/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   | 
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R  &kp T          &kp Y      &kp U  &kp I  &kp O      &kp P     &kp BSPC
&kp LEFT_SHIFT  &kp A  &kp S  &kp D         &kp F  &kp G          &kp H      &kp J  &kp K  &kp L      &kp SEMI  &kp ENTER
&kp LCTRL       &kp Z  &kp X  &kp C         &kp V  &kp GRAVE      &kp B      &kp N  &kp M  &kp COMMA  &kp DOT   &kp DELETE
                              &kp LEFT_ALT  &mo 1  &lt 3 SPACE    &kp SPACE  &mo 1  &mo 0
            >;
        };

        lower_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans         &kp NUMBER_1     &kp NUMBER_2     &kp NUMBER_3     &kp NUMBER_4  &kp NUMBER_5     &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0    &kp MINUS        &kp EQUAL      &kp BACKSPACE
&kp PAGE_UP    &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans        &kp NUMBER_6     &kp NUMBER_7  &kp UP        &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp SEMICOLON  &kp SQT
&kp PAGE_DOWN  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans        &kp BACKSLASH    &kp LEFT      &kp DOWN      &kp RIGHT       &kp COMMA        &kp PERIOD     &kp SLASH
                                                 &kp KP_NUMBER_0  &trans        &trans           &trans        &trans        &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp STAR  &kp LPAR  &kp RPAR  &kp UNDERSCORE  &kp PLUS   &kp BSPC
&trans  &none     &none   &none     &none     &kp CARET    &kp AMPS  &none     &kp LBKT  &kp RBKT        &kp COLON  &kp DQT
&trans  &none     &none   &none     &none     &kp PIPE     &none     &none     &none     &kp LT          &kp GT     &kp QMARK
                          &trans    &trans    &kp SPACE    &trans    &trans    &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans
&trans  &trans  &trans  &trans  &trans  &kp F6    &kp F7  &trans  &trans   &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans   &trans   &trans   &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
